html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

ul,
ol {
  margin: 0 0 0 40px;
  padding: 0;
}

// class attached to body when overlay is open. prevents scrolling under overlay
.modalActive {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.columns {
  display: flex;
  justify-content: flex-start;

  .prose {
    padding-right: 50px;
  }

  &.reverse {
    flex-direction: row-reverse;

    .prose {
      padding-right: 0;
      padding-left: 50px;
    }
  }
}

.barba-once {
  opacity: 0;
}
.barba-once-active {
  transition: all 1s linear;
}
.barba-once-to {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
}
.fade-leave-active {
  transition: opacity 0.3s linear;
}
.fade-leave-to {
  opacity: 0;
}

/* Fade in the next container */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 0.3s linear;
}
.fade-enter-to {
  opacity: 1;
}
