{% from "../partials/ctas.njk" import ctas %}

<section class="section-banner {% if params.paddingTop %}paddingTop{% endif %} {% if params.paddingBottom %}paddingBottom{% endif %}">
  <div class="banner-content">
    <div class="text-wrapper">

      {% if params.title %}
        <h1>{{ params.title }}</h1>
      {% endif %}

      {% if params.subTitle %}
        <p>{{ params.subTitle }}</p>
      {% endif %}

      {% if params.hasCtas %}
        {# use CTAs partial to render links etc #}
        {% set info = params %}
        {{ ctas(info) }}
      {% endif %}

    </div>
    <!-- /.text-wrapper -->
  </div>
  <!-- /.banner-content -->
</section>