---
title: Hello Title ;-)
layout: sections.njk

footnote: this is a footnote
header_text: Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo.
footer_text: Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet non magna.
filter_test: I should have dashes between words

sections:
  - component: Banner
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: true
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetID: ""
    title: Banner Title
    subTitle: Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    hasCtas: true
    ctas:
      - url: "/other-page/"
        label: Other Page
        isExternal: false
        isButton: true
        buttonStyle: "primary"
      - url: ""
        label: "Play Video"
        isExternal: false
        isButton: false
        buttonStyle: "primary"
        isVideoTrigger: true
    mediaType: Video
    video:
      src: youtube
      id: "IadsLclBOS8"
      tn: "v1636656059/gatsby4mdx/one-tree_nnl9ts.jpg"
      aspectRatio: "56.25"
    image:
      src: ""
      alt: ""
      aspectRatio: ""
    lottieData:
      src: ""
      control:
        autoplay: true
        loop: true
    icon: ""
    audio:
      bgImage: ""
      aspectRatio: ""
      ogg: ""
      mpeg: ""

  - component: intro
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: true
    paddingTop: false
    paddingBottom: true
    backgroundColor: ""
    targetID: ""
    title: Intro Title
    subTitle: Intro sub title
    prose: |-
      Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. **Donec ullamcorper nulla non metus auctor fringilla**. Nullam quis risus eget urna mollis ornare vel eu leo.

    hasCtas: true
    ctas:
      - url: "/product/"
        label: Go There
        isExternal: false
        isButton: true
        buttonStyle: "primary"
---

## This is the Content

Cum sociis natoque **penatibus et magnis** dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit _amet fermentum_. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non [commodo luctus](https://www.apple.com), nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

{{ filter_test | spaceToDash }}

Nullam quis risus eget urna mollis ornare vel eu leo. **Vestibulum id ligula porta felis** euismod semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. _Nulla vitae elit libero_, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

_{{ footnote | toUpper }}_

Tabula Rasa

... and again Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.