---
title: Hello Title ;-)
layout: sections.njk

# path is relative to metalsmith source file
data: 
  site: "../data/siteMetadata.json"
  nav: "../data/siteNavigation.json"

footnote: this is a footnote
header_title: This is the home page header
header_text: Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo.
footer_text: Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet non magna.
filter_test: I should have dashes between words

sections:
  - component: banner
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: true
    paddingTop: false
    paddingBottom: true
    backgroundColor: ""
    targetID: ""
    title: Banner Title
    header: "h1"
    subTitle: Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    hasCtas: true
    ctas:
      - url: "/other-page/"
        label: Other Page
        isExternal: false
        isButton: true
        buttonStyle: "primary"
      - url: ""
        label: "Play Video"
        isExternal: false
        isButton: false
        buttonStyle: "primary"
        isVideoTrigger: true
    mediaType: Video
    video:
      src: youtube
      id: "IadsLclBOS8"
      tn: "v1636656059/gatsby4mdx/one-tree_nnl9ts.jpg"
      aspectRatio: "56.25"
    image:
      src: ""
      alt: ""
    lottieData:
      src: ""
      control:
        autoplay: true
        loop: true
    icon: ""
    audio:
      bgImage: ""
      aspectRatio: ""
      ogg: ""
      mpeg: ""

  - component: intro
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: true
    paddingTop: false
    paddingBottom: true
    backgroundColor: ""
    targetID: ""
    title: Intro Title
    header: "h2"
    subTitle: Intro sub title
    prose: |-
      Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. **Donec ullamcorper nulla non metus auctor fringilla**. Nullam quis risus eget urna mollis ornare vel eu leo.

    hasCtas: true
    ctas:
      - url: "/product/"
        label: Go There
        isExternal: false
        isButton: true
        buttonStyle: "primary"

  - component: intro
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetID: ""
    title: This is a media component !
    header: "h2"
    subTitle: ""
    prose: ""
    hasCtas: false
    ctas:
      - url: ""
        label: ""
        isExternal: false
        isButton: true
        buttonStyle: "primary"
  
  - component: media
    animateSection: true
    inContainer: true
    hasBackground: false
    bgColor: ""
    bgIsDark: false
    marginTop: false
    marginBottom: true
    paddingTop: false
    paddingBottom: false
    reverse: true
    title: "What is a media component ?"
    header: "h3"
    subTitle: "Indeed, what is it?"
    prose: |-
      The Media Object pattern is: image thingy on the left, heading and text on the right.

      That’s what [Nicole Sullivan](http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/) called it and the [name stuck](https://getbootstrap.com/docs/4.0/layout/media-object/). It’s a pretty simple pattern, but like all things web design, it can be done many ways.

      In this implementation the image thingy can be

      - an image
      - a video
      - an animated Lottie svg
      - an icon
      - an audio player

    hasCtas: true
    ctas:
      - label: "Another CTA"
        url: "/other-page/"
        isVideoTrigger: false
        isButton: false
        buttonStyle: ""
        isExternal: false
    mediaType: Image
    video:
      src: youtube
      id: ""
      tn: ""
      aspectRatio: ""
    image:
      src: "v1636656058/gatsby4mdx/trees_ovi9xa.jpg"
      alt: "a tree"
      aspectRatio: "62.5"
    lottieData:
      src: ""
      control:
        autoplay: true
        loop: true
    icon: ""
    audio:
      bgImage: ""
      aspectRatio: ""
      ogg: ""
      mpeg: ""


  - component: media
    animateSection: true
    inContainer: true
    hasBackground: false
    bgColor: ""
    bgIsDark: false
    marginTop: true
    marginBottom: true
    paddingTop: true
    paddingBottom: true
    reverse: false
    title: "Another Media component"
    header: "h3"
    subTitle: ""
    prose: |-
        In this example the order of image and text have been reversed, instead of an image we show an icon and a cta is diplayed at the text bottom
    hasCtas: true
    ctas:
      - label: "Let's go shopping"
        url: "https://amazon.com"
        isVideoTrigger: false
        isButton: false
        buttonStyle: ""
        isExternal: true
    mediaType: Icon
    video:
      src: ""
      id: ""
      tn: ""
      aspectRatio: ""
    image:
      src: ""
      alt: ""
      aspectRatio: ""
    lottieData:
      src: ""
      control:
        autoplay: true
        loop: true
    icon: cleanIndustry
    audio:
      bgImage: ""
      aspectRatio: ""
      ogg: ""
      mpeg: ""

  - component: media
    animateSection: true
    inContainer: true
    hasBackground: false
    bgColor: ""
    bgIsDark: false
    marginTop: true
    marginBottom: true
    paddingTop: false
    paddingBottom: false
    reverse: true
    title: "media component below the fold ?"
    header: "h3"
    subTitle: ""
    prose: |-
        This media component is located under fold to test progressive image loading

    hasCtas: false
    ctas:
      - label: ""
        url: ""
        isVideoTrigger: false
        isButton: false
        buttonStyle: ""
        isExternal: false
    mediaType: Image
    video:
      src: youtube
      id: ""
      tn: ""
      aspectRatio: ""
    image:
      src: "v1636656058/gatsby4mdx/trees-fog_dru2h3.jpg"
      alt: "a tree"
      aspectRatio: "62.5"
    lottieData:
      src: ""
      control:
        autoplay: true
        loop: true
    icon: ""
    audio:
      bgImage: ""
      aspectRatio: ""
      ogg: ""
      mpeg: ""

  - component: media
    animateSection: true
    inContainer: true
    hasBackground: false
    bgColor: ""
    bgIsDark: false
    marginTop: true
    marginBottom: true
    paddingTop: false
    paddingBottom: false
    reverse: false
    title: "We go further under the fold"
    header: "h3"
    subTitle: ""
    prose: |-
        This media component is located under fold to test progressive image loading

    hasCtas: false
    ctas:
      - label: ""
        url: ""
        isVideoTrigger: false
        isButton: false
        buttonStyle: ""
        isExternal: false
    mediaType: Image
    video:
      src: youtube
      id: ""
      tn: ""
      aspectRatio: ""
    image:
      src: "v1636656059/gatsby4mdx/trees-water_fe7obz.jpg"
      alt: "a tree"
      aspectRatio: "56.25"
    lottieData:
      src: ""
      control:
        autoplay: true
        loop: true
    icon: ""
    audio:
      bgImage: ""
      aspectRatio: ""
      ogg: ""
      mpeg: ""

  - component: media
    animateSection: true
    inContainer: true
    hasBackground: false
    bgColor: ""
    bgIsDark: false
    marginTop: true
    marginBottom: true
    paddingTop: false
    paddingBottom: false
    reverse: true
    title: "Here is an Example of a Lottie animation"
    header: "h3"
    subTitle: ""
    prose: |-
        Animated svg in Lottie format. Lottie is an open source animation file format that’s tiny, high quality, interactive, and can be manipulated at runtime. The top 500 apps on the App store now use Lottie to engage users and enhance conversions.

    hasCtas: true
    ctas:
      - label: "Read more about Lottie"
        url: "https://lottiefiles.com/lottie"
        isVideoTrigger: false
        isButton: true
        buttonStyle: "primary"
        isExternal: true
    mediaType: Lottie
    video:
      src: ""
      id: ""
      tn: ""
      aspectRatio: ""
    image:
      src: ""
      alt: "a tree"
      aspectRatio: "56.25"
    lottieData:
      src: "/assets/animations/example3.json"
      control:
        autoplay: true
        loop: true
    icon: ""
    audio:
      bgImage: ""
      aspectRatio: ""
      ogg: ""
      mpeg: ""
---