<!DOCTYPE html>
<html>
  <head>
    {% include "partials/head.njk" %}
  </head>
</h1>

<body data-barba="wrapper">
  {% include "partials/header.njk" %}

  <main data-barba="container" data-barba-namespace={{pageName}}>
    {% block body %}
    This is the default contents
  {% endblock %}
  </main>

  {% include "partials/footer.njk" %}

  {% include "partials/scripts.njk" %}
</body>
</html>