<!DOCTYPE html>
<html>
  <head>
    {% include "partials/head.njk" %}
  </head>
</h1>

<body>
  <main id="swup" class="transition-fade">
    {% include "partials/header.njk" %}
    {% block body %}
      This is the default contents
    {% endblock %}

    {% include "partials/footer.njk" %}

    {% include "partials/scripts.njk" %}
  </main>
</body>
</html>