<!DOCTYPE html>
<html>
  <head>
    {% include "partials/head.njk" %}
  </head>
  <body>
    {% include "partials/header.njk" %}

    {% block body %}   
      This is the default contents
    {% endblock %}

    {% include "partials/footer.njk" %}

    {% include "partials/scripts.njk" %}
  </body>
</html>